<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>User Panel</title>
<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>
<body>
	<div class="container">
		<div class="card">
			<h5 class="card-header" th:inline="text">Hello
				[[${#httpServletRequest.remoteUser}]]!</h5>
			<div class="card-body">
				<h5 class="card-title">This is the user area!</h5>
				<p class="card-text">Feel free to play around</p>
				<a href="#" class="btn btn-primary" th:href="index">Home</a>
				
				
					
			</div>
			<form th:action="@{/logout}" method="post">
						<input class="btn btn-info" type="submit" value="Sign Out" />
					</form>
		</div>
	</div>

</body>
</html>